In [9]:

# @hidden_cell
# The following code contains the credentials for a file in your IBM Cloud Object Storage.
# You might want to remove those credentials before you share your notebook.
credentials_1 = {
    'IAM_SERVICE_ID': 'iam-ServiceId-a29edcfb-4b4d-404e-a686-a80d94c6f750',
    'IBM_API_KEY_ID': 'DespPRw9bbRB-jyIzlnB7sG1XpGk2AtxU-wsbWHLRbdX',
    'ENDPOINT': 'https://s3-api.us-geo.objectstorage.service.networklayer.com',
    'IBM_AUTH_ENDPOINT': 'https://iam.cloud.ibm.com/oidc/token',
    'BUCKET': 'datascienceandmachinelearningcaps-donotdelete-pr-jrtjgv1fhltl3i',
    'FILE': '311_Service_Requests_from_2010_to_Present_min.csv'
}
import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.

if os.environ.get('RUNTIME_ENV_LOCATION_TYPE') == 'external':
    endpoint_9b936849da084a469c3d767cc8bfbae3 = 'https://s3-api.us-geo.objectstorage.softlayer.net'
else:
    endpoint_9b936849da084a469c3d767cc8bfbae3 = 'https://s3-api.us-geo.objectstorage.service.networklayer.com'

client_9b936849da084a469c3d767cc8bfbae3 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='DespPRw9bbRB-jyIzlnB7sG1XpGk2AtxU-wsbWHLRbdX',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url=endpoint_9b936849da084a469c3d767cc8bfbae3)

body = client_9b936849da084a469c3d767cc8bfbae3.get_object(Bucket='datascienceandmachinelearningcaps-donotdelete-pr-jrtjgv1fhltl3i',Key='311_Service_Requests_from_2010_to_Present_min.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

,Unnamed: 0,Unique Key,Created Date,Closed Date,Complaint Type,Location Type,Incident Zip,Incident Address,Street Name,Address Type,City,Status,Resolution Description,Borough,Latitude,Longitude
0,0,45531130,02/02/2020 06:09:17 AM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10019.0,426 WEST 52 STREET,WEST 52 STREET,ADDRESS,NEW YORK,Open,The following complaint conditions are still o...,MANHATTAN,40.765132,-73.988993
1,1,45529784,02/02/2020 02:15:24 PM,NaN,UNSANITARY CONDITION,RESIDENTIAL BUILDING,11204.0,1751 67 STREET,67 STREET,ADDRESS,BROOKLYN,Open,The following complaint conditions are still o...,BROOKLYN,40.618484,-73.992673
2,2,45527528,02/02/2020 02:27:41 AM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,11372.0,87-15 37 AVENUE,37 AVENUE,ADDRESS,Jackson Heights,Open,The following complaint conditions are still o...,QUEENS,40.750269,-73.879432
3,3,45530329,02/02/2020 12:13:18 PM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10458.0,2405 SOUTHERN BOULEVARD,SOUTHERN BOULEVARD,ADDRESS,BRONX,Open,The following complaint conditions are still o...,BRONX,40.853773,-73.881558
4,4,45528814,02/02/2020 01:59:44 PM,NaN,APPLIANCE,RESIDENTIAL BUILDING,11209.0,223 78 STREET,78 STREET,ADDRESS,BROOKLYN,Open,The following complaint conditions are still o...,BROOKLYN,40.629745,-74.030533

In [12]:
import pandas as pd
client_cred = ibm_boto3.client(service_name='s3',
ibm_api_key_id='DespPRw9bbRB-jyIzlnB7sG1XpGk2AtxU-wsbWHLRbdX',
ibm_auth_endpoint='https://iam.cloud.ibm.com/oidc/token',
config=Config(signature_version='oauth'),
endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')
bucket = 'datascienceandmachinelearningcaps-donotdelete-pr-jrtjgv1fhltl3i'
df=df_data_1
df.to_pickle('./df_raw.pkl')
client_cred.upload_file('./df_raw.pkl',bucket,'df_raw_cos.pkl')
client_cred.download_file(Bucket=bucket,Key='df_raw_cos.pkl',Filename='./df_raw_local.pkl')
df = pd.read_pickle('./df_raw_local.pkl')
df.head()

,Unnamed: 0,Unique Key,Created Date,Closed Date,Complaint Type,Location Type,Incident Zip,Incident Address,Street Name,Address Type,City,Status,Resolution Description,Borough,Latitude,Longitude
0,0,45531130,02/02/2020 06:09:17 AM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10019.0,426 WEST 52 STREET,WEST 52 STREET,ADDRESS,NEW YORK,Open,The following complaint conditions are still o...,MANHATTAN,40.765132,-73.988993
1,1,45529784,02/02/2020 02:15:24 PM,NaN,UNSANITARY CONDITION,RESIDENTIAL BUILDING,11204.0,1751 67 STREET,67 STREET,ADDRESS,BROOKLYN,Open,The following complaint conditions are still o...,BROOKLYN,40.618484,-73.992673
2,2,45527528,02/02/2020 02:27:41 AM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,11372.0,87-15 37 AVENUE,37 AVENUE,ADDRESS,Jackson Heights,Open,The following complaint conditions are still o...,QUEENS,40.750269,-73.879432
3,3,45530329,02/02/2020 12:13:18 PM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10458.0,2405 SOUTHERN BOULEVARD,SOUTHERN BOULEVARD,ADDRESS,BRONX,Open,The following complaint conditions are still o...,BRONX,40.853773,-73.881558
4,4,45528814,02/02/2020 01:59:44 PM,NaN,APPLIANCE,RESIDENTIAL BUILDING,11209.0,223 78 STREET,78 STREET,ADDRESS,BROOKLYN,Open,The following complaint conditions are still o...,BROOKLYN,40.629745,-74.030533

In [1]:
import pandas as pd
path = 'https://data.cityofnewyork.us/resource/fhrw-4uyv.csv?$limit=100000000&Agency=HPD&$select=created_date,unique_key,complaint_type,incident_zip,incident_address,street_name,address_type,city,resolution_description,borough,latitude,longitude,closed_date,location_type,status'
df_raw1 = pd.read_csv(path,parse_dates=['created_date'])
df_raw1.head()

,created_date,unique_key,complaint_type,incident_zip,incident_address,street_name,address_type,city,resolution_description,borough,latitude,longitude,closed_date,location_type,status
0,2011-03-19,20067362,HEATING,10468.0,2856 WEBB AVENUE,WEBB AVENUE,ADDRESS,BRONX,More than one complaint was received for this ...,BRONX,40.873363,-73.900622,2011-03-20T00:00:00.000,RESIDENTIAL BUILDING,Closed
1,2011-03-19,20067711,NONCONST,10456.0,450 EAST 165 STREET,EAST 165 STREET,ADDRESS,BRONX,The following complaint conditions are still o...,BRONX,40.827290,-73.910255,NaN,RESIDENTIAL BUILDING,Open
2,2011-03-19,20067056,GENERAL CONSTRUCTION,10457.0,2238 ADAMS PLACE,ADAMS PLACE,ADDRESS,BRONX,The following complaint conditions are still o...,BRONX,40.852331,-73.889234,NaN,RESIDENTIAL BUILDING,Open
3,2011-03-19,20067347,HEATING,10028.0,130 EAST 86 STREET,EAST 86 STREET,ADDRESS,NEW YORK,The Department of Housing Preservation and Dev...,MANHATTAN,40.779638,-73.955941,2011-03-22T00:00:00.000,RESIDENTIAL BUILDING,Closed
4,2011-03-19,20067230,HEATING,10468.0,20 WEST MOSHOLU PARKWAY SOUTH,WEST MOSHOLU PARKWAY SOUTH,ADDRESS,BRONX,The Department of Housing Preservation and Dev...,BRONX,40.879895,-73.885847,2011-03-20T00:00:00.000,RESIDENTIAL BUILDING,Closed

In [2]:
import pandas as pd
import numpy as np
df_date=df_raw1.sort_values(by ="created_date")
df_date.tail()

,created_date,unique_key,complaint_type,incident_zip,incident_address,street_name,address_type,city,resolution_description,borough,latitude,longitude,closed_date,location_type,status
2384324,2021-03-17 23:49:33,50043925,HEAT/HOT WATER,11233.0,1711 FULTON STREET,FULTON STREET,ADDRESS,BROOKLYN,The complaint you filed is a duplicate of a co...,BROOKLYN,40.679337,-73.930374,NaN,RESIDENTIAL BUILDING,Open
2379655,2021-03-17 23:51:37,50039617,HEAT/HOT WATER,11233.0,1711 FULTON STREET,FULTON STREET,ADDRESS,BROOKLYN,The complaint you filed is a duplicate of a co...,BROOKLYN,40.679337,-73.930374,NaN,RESIDENTIAL BUILDING,Open
2385668,2021-03-17 23:54:45,50046195,HEAT/HOT WATER,11233.0,1711 FULTON STREET,FULTON STREET,ADDRESS,BROOKLYN,The complaint you filed is a duplicate of a co...,BROOKLYN,40.679337,-73.930374,NaN,RESIDENTIAL BUILDING,Open
2385378,2021-03-17 23:57:01,50046145,HEAT/HOT WATER,11233.0,1711 FULTON STREET,FULTON STREET,ADDRESS,BROOKLYN,The complaint you filed is a duplicate of a co...,BROOKLYN,40.679337,-73.930374,NaN,RESIDENTIAL BUILDING,Open
2383551,2021-03-18 00:00:04,50041974,HEAT/HOT WATER,11233.0,1711 FULTON STREET,FULTON STREET,ADDRESS,BROOKLYN,The complaint you filed is a duplicate of a co...,BROOKLYN,40.679337,-73.930374,NaN,RESIDENTIAL BUILDING,Open

In [7]:
import pandas as pd
from botocore.client import Config
import ibm_boto3
client_cred = ibm_boto3.client(service_name='s3',
ibm_api_key_id='DespPRw9bbRB-jyIzlnB7sG1XpGk2AtxU-wsbWHLRbdX',
ibm_auth_endpoint='https://iam.cloud.ibm.com/oidc/token',
config=Config(signature_version='oauth'),
endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')
bucket = 'datascienceandmachinelearningcaps-donotdelete-pr-jrtjgv1fhltl3i'
df=df_raw1
df.to_csv('./df_raw2.csv')
client_cred.upload_file('./df_raw2.csv',bucket,'df_raw2_cos.csv')

In [5]:
ls

df_raw2.pkl  df_raw_local.pkl  df_raw.pkl

In [8]:

# @hidden_cell
# The following code contains the credentials for a file in your IBM Cloud Object Storage.
# You might want to remove those credentials before you share your notebook.
import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.

if os.environ.get('RUNTIME_ENV_LOCATION_TYPE') == 'external':
    endpoint_9b936849da084a469c3d767cc8bfbae3 = 'https://s3-api.us-geo.objectstorage.softlayer.net'
else:
    endpoint_9b936849da084a469c3d767cc8bfbae3 = 'https://s3-api.us-geo.objectstorage.service.networklayer.com'
client_9b936849da084a469c3d767cc8bfbae3 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='DespPRw9bbRB-jyIzlnB7sG1XpGk2AtxU-wsbWHLRbdX',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url=endpoint_9b936849da084a469c3d767cc8bfbae3)
credentials_4 = {
    'IAM_SERVICE_ID': 'iam-ServiceId-a29edcfb-4b4d-404e-a686-a80d94c6f750',
    'IBM_API_KEY_ID': 'DespPRw9bbRB-jyIzlnB7sG1XpGk2AtxU-wsbWHLRbdX',
    'ENDPOINT': 'https://s3-api.us-geo.objectstorage.service.networklayer.com',
    'IBM_AUTH_ENDPOINT': 'https://iam.cloud.ibm.com/oidc/token',
    'BUCKET': 'datascienceandmachinelearningcaps-donotdelete-pr-jrtjgv1fhltl3i',
    'FILE': 'MN_18v1.csv'
}
# @hidden_cell
# The following code contains the credentials for a file in your IBM Cloud Object Storage.
# You might want to remove those credentials before you share your notebook.
credentials_3 = {
    'IAM_SERVICE_ID': 'iam-ServiceId-a29edcfb-4b4d-404e-a686-a80d94c6f750',
    'IBM_API_KEY_ID': 'DespPRw9bbRB-jyIzlnB7sG1XpGk2AtxU-wsbWHLRbdX',
    'ENDPOINT': 'https://s3-api.us-geo.objectstorage.service.networklayer.com',
    'IBM_AUTH_ENDPOINT': 'https://iam.cloud.ibm.com/oidc/token',
    'BUCKET': 'datascienceandmachinelearningcaps-donotdelete-pr-jrtjgv1fhltl3i',
    'FILE': 'BX_18v1.csv'
}
# @hidden_cell
# The following code contains the credentials for a file in your IBM Cloud Object Storage.
# You might want to remove those credentials before you share your notebook.
credentials_2 = {
    'IAM_SERVICE_ID': 'iam-ServiceId-a29edcfb-4b4d-404e-a686-a80d94c6f750',
    'IBM_API_KEY_ID': 'DespPRw9bbRB-jyIzlnB7sG1XpGk2AtxU-wsbWHLRbdX',
    'ENDPOINT': 'https://s3-api.us-geo.objectstorage.service.networklayer.com',
    'IBM_AUTH_ENDPOINT': 'https://iam.cloud.ibm.com/oidc/token',
    'BUCKET': 'datascienceandmachinelearningcaps-donotdelete-pr-jrtjgv1fhltl3i',
    'FILE': 'BK_18v1.csv'
}
body = client_9b936849da084a469c3d767cc8bfbae3.get_object(Bucket='datascienceandmachinelearningcaps-donotdelete-pr-jrtjgv1fhltl3i',Key='BK_18v1.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_2 = pd.read_csv(body)
df_data_2.head()
body = client_9b936849da084a469c3d767cc8bfbae3.get_object(Bucket='datascienceandmachinelearningcaps-donotdelete-pr-jrtjgv1fhltl3i',Key='BX_18v1.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_3 = pd.read_csv(body)
df_data_3.head()
body = client_9b936849da084a469c3d767cc8bfbae3.get_object(Bucket='datascienceandmachinelearningcaps-donotdelete-pr-jrtjgv1fhltl3i',Key='MN_18v1.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_4 = pd.read_csv(body)
df_data_4.head()
body = client_9b936849da084a469c3d767cc8bfbae3.get_object(Bucket='datascienceandmachinelearningcaps-donotdelete-pr-jrtjgv1fhltl3i',Key='QN_18v1.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_5 = pd.read_csv(body)
df_data_5.head()
# @hidden_cell
# The following code contains the credentials for a file in your IBM Cloud Object Storage.
# You might want to remove those credentials before you share your notebook.
credentials_5 = {
    'IAM_SERVICE_ID': 'iam-ServiceId-a29edcfb-4b4d-404e-a686-a80d94c6f750',
    'IBM_API_KEY_ID': 'DespPRw9bbRB-jyIzlnB7sG1XpGk2AtxU-wsbWHLRbdX',
    'ENDPOINT': 'https://s3-api.us-geo.objectstorage.service.networklayer.com',
    'IBM_AUTH_ENDPOINT': 'https://iam.cloud.ibm.com/oidc/token',
    'BUCKET': 'datascienceandmachinelearningcaps-donotdelete-pr-jrtjgv1fhltl3i',
    'FILE': 'QN_18v1.csv'
}
body = client_9b936849da084a469c3d767cc8bfbae3.get_object(Bucket='datascienceandmachinelearningcaps-donotdelete-pr-jrtjgv1fhltl3i',Key='SI_18v1.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_6 = pd.read_csv(body)
df_data_6.head()
# @hidden_cell
# The following code contains the credentials for a file in your IBM Cloud Object Storage.
# You might want to remove those credentials before you share your notebook.
credentials_6 = {
    'IAM_SERVICE_ID': 'iam-ServiceId-a29edcfb-4b4d-404e-a686-a80d94c6f750',
    'IBM_API_KEY_ID': 'DespPRw9bbRB-jyIzlnB7sG1XpGk2AtxU-wsbWHLRbdX',
    'ENDPOINT': 'https://s3-api.us-geo.objectstorage.service.networklayer.com',
    'IBM_AUTH_ENDPOINT': 'https://iam.cloud.ibm.com/oidc/token',
    'BUCKET': 'datascienceandmachinelearningcaps-donotdelete-pr-jrtjgv1fhltl3i',
    'FILE': 'SI_18v1.csv'
}
body = client_9b936849da084a469c3d767cc8bfbae3.get_object(Bucket='datascienceandmachinelearningcaps-donotdelete-pr-jrtjgv1fhltl3i',Key='fhrw-4uyv.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_7 = pd.read_csv(body)
df_data_7.head()
# @hidden_cell
# The following code contains the credentials for a file in your IBM Cloud Object Storage.
# You might want to remove those credentials before you share your notebook.
credentials_7 = {
    'IAM_SERVICE_ID': 'iam-ServiceId-a29edcfb-4b4d-404e-a686-a80d94c6f750',
    'IBM_API_KEY_ID': 'DespPRw9bbRB-jyIzlnB7sG1XpGk2AtxU-wsbWHLRbdX',
    'ENDPOINT': 'https://s3-api.us-geo.objectstorage.service.networklayer.com',
    'IBM_AUTH_ENDPOINT': 'https://iam.cloud.ibm.com/oidc/token',
    'BUCKET': 'datascienceandmachinelearningcaps-donotdelete-pr-jrtjgv1fhltl3i',
    'FILE': 'fhrw-4uyv.csv'
}

/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (19,20,22,23,24,25,26,64,65,80) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (19,20,22,23,64,65,80) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (20,23,24,26,64) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (19,20,22,23,64,65,77) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (19,20,22,23,24,64,65,80) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.

if os.environ.get('RUNTIME_ENV_LOCATION_TYPE') == 'external':
    endpoint_9b936849da084a469c3d767cc8bfbae3 = 'https://s3-api.us-geo.objectstorage.softlayer.net'
else:
    endpoint_9b936849da084a469c3d767cc8bfbae3 = 'https://s3-api.us-geo.objectstorage.service.networklayer.com'

client_9b936849da084a469c3d767cc8bfbae3 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='DespPRw9bbRB-jyIzlnB7sG1XpGk2AtxU-wsbWHLRbdX',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url=endpoint_9b936849da084a469c3d767cc8bfbae3)

body = client_9b936849da084a469c3d767cc8bfbae3.get_object(Bucket='datascienceandmachinelearningcaps-donotdelete-pr-jrtjgv1fhltl3i',Key='fhrw-4uyv.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_7 = pd.read_csv(body,parse_dates=['created_date'])
df_data_7.head()

,created_date,unique_key,complaint_type,incident_zip,incident_address,street_name,address_type,city,resolution_description,borough,latitude,longitude,closed_date,location_type,status
0,2011-09-13,21430297,GENERAL CONSTRUCTION,10457.0,1930 GRAND CONCOURSE,GRAND CONCOURSE,ADDRESS,BRONX,The Department of Housing Preservation and Dev...,BRONX,40.850106,-73.905460,2011-09-16T00:00:00.000,RESIDENTIAL BUILDING,Closed
1,2011-09-13,21430352,GENERAL CONSTRUCTION,11423.0,91-59 191 STREET,191 STREET,ADDRESS,HOLLIS,The Department of Housing Preservation and Dev...,QUEENS,40.712197,-73.768456,2011-10-03T00:00:00.000,RESIDENTIAL BUILDING,Closed
2,2011-09-13,21430187,NONCONST,10452.0,1175 GERARD AVENUE,GERARD AVENUE,ADDRESS,BRONX,The Department of Housing Preservation and Dev...,BRONX,40.834706,-73.920721,2011-09-18T00:00:00.000,RESIDENTIAL BUILDING,Closed
3,2011-09-13,21430229,PAINT - PLASTER,11233.0,276 CHAUNCEY STREET,CHAUNCEY STREET,ADDRESS,BROOKLYN,The Department of Housing Preservation and Dev...,BROOKLYN,40.681289,-73.921668,2011-09-15T00:00:00.000,RESIDENTIAL BUILDING,Closed
4,2011-09-13,21430461,GENERAL CONSTRUCTION,10456.0,1064 SHERIDAN AVENUE,SHERIDAN AVENUE,ADDRESS,BRONX,The Department of Housing Preservation and Dev...,BRONX,40.830834,-73.918641,2011-10-03T00:00:00.000,RESIDENTIAL BUILDING,Closed

In [3]:
import numpy as np
df_date=df_data_7.sort_values(by ="created_date")
df_date.tail()

,created_date,unique_key,complaint_type,incident_zip,incident_address,street_name,address_type,city,resolution_description,borough,latitude,longitude,closed_date,location_type,status
1917537,2021-03-17 23:49:33,50043925,HEAT/HOT WATER,11233.0,1711 FULTON STREET,FULTON STREET,ADDRESS,BROOKLYN,The complaint you filed is a duplicate of a co...,BROOKLYN,40.679337,-73.930374,NaN,RESIDENTIAL BUILDING,Open
1917893,2021-03-17 23:51:37,50039617,HEAT/HOT WATER,11233.0,1711 FULTON STREET,FULTON STREET,ADDRESS,BROOKLYN,The complaint you filed is a duplicate of a co...,BROOKLYN,40.679337,-73.930374,NaN,RESIDENTIAL BUILDING,Open
1918265,2021-03-17 23:54:45,50046195,HEAT/HOT WATER,11233.0,1711 FULTON STREET,FULTON STREET,ADDRESS,BROOKLYN,The complaint you filed is a duplicate of a co...,BROOKLYN,40.679337,-73.930374,NaN,RESIDENTIAL BUILDING,Open
1918118,2021-03-17 23:57:01,50046145,HEAT/HOT WATER,11233.0,1711 FULTON STREET,FULTON STREET,ADDRESS,BROOKLYN,The complaint you filed is a duplicate of a co...,BROOKLYN,40.679337,-73.930374,NaN,RESIDENTIAL BUILDING,Open
1916965,2021-03-18 00:00:04,50041974,HEAT/HOT WATER,11233.0,1711 FULTON STREET,FULTON STREET,ADDRESS,BROOKLYN,The complaint you filed is a duplicate of a co...,BROOKLYN,40.679337,-73.930374,NaN,RESIDENTIAL BUILDING,Open

In [22]:
import pandas as pd


print (df_data_7['incident_address'].isnull().sum())

52831

In [23]:

body = client_9b936849da084a469c3d767cc8bfbae3.get_object(Bucket='datascienceandmachinelearningcaps-donotdelete-pr-jrtjgv1fhltl3i',Key='BX_18v1.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_8 = pd.read_csv(body)
df_data_8.head()

/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (19,20,22,23,64,65,80) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG,Version
0,BX,2260,1,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
1,BX,2260,4,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
2,BX,2260,10,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
3,BX,2260,17,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
4,BX,2260,18,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1

In [36]:
print (df_data_8['ZipCode'].unique())

[10454. 10455.    nan 10451. 10456. 10452. 10453. 10465. 10474. 11370.
 10459. 10472. 10457. 10460. 10458. 10468. 10463. 10467. 10470. 10466.
 10473. 10462. 10461. 10469. 10475. 10464. 10471.]

In [37]:

body = client_9b936849da084a469c3d767cc8bfbae3.get_object(Bucket='datascienceandmachinelearningcaps-donotdelete-pr-jrtjgv1fhltl3i',Key='QN_18v1.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_9 = pd.read_csv(body)
df_data_9.head()

/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (19,20,22,23,64,65,77) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG,Version
0,QN,6,1,402,1.0,NaN,30.0,26.0,11101.0,L115,...,Y,401 011,40101.0,NaN,4.000060e+09,09/20/2013,1,1.0,1.0,18V1
1,QN,6,3,402,1.0,1015.0,30.0,26.0,11101.0,L115,...,NaN,401 011,40101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
2,QN,6,8,402,1.0,1011.0,30.0,26.0,11101.0,L115,...,NaN,401 011,40101.0,NaN,4.000060e+09,08/07/2013,1,1.0,1.0,18V1
3,QN,6,20,402,1.0,NaN,30.0,26.0,11101.0,L115,...,NaN,401 011,40101.0,NaN,4.000060e+09,09/20/2013,1,1.0,1.0,18V1
4,QN,6,30,402,1.0,NaN,30.0,26.0,11101.0,L115,...,NaN,401 011,40101.0,NaN,4.000060e+09,09/08/2017,1,1.0,1.0,18V1

In [40]:
print (df_data_9['ZipCode'].unique())

[11101. 11109.    nan 11104. 11377. 11106. 11102. 11103. 11105. 11370.
 11369. 11372. 11373. 11385. 11368. 11421. 11355. 11374. 11375. 11367.
 11415. 11378. 11379. 11418. 11432. 11356. 11420. 11357. 11354. 11697.
 11693. 11358. 11361. 11365. 11364. 11360. 11359. 11435. 11366. 11423.
 11363. 11362. 11427. 11426. 11428. 11004. 11005. 11040. 11001. 11416.
 11417. 11419. 11433. 11413. 11434. 11412. 11429. 11411. 11414. 11430.
 11436. 11422. 11691. 11692. 11694. 11695.]